/* Selector de atributo */
a[href="http://www.google.com"] {
    color: red;
}

/* los que inician con http */
a[href^="http"] {
    color: red;
}

/* los que terminan en .com */
a[href$=".com"] {
    color: red;
}

input[type="tel"] {
    border: 3px solid black;
}